:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-left: 0.6em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color_box {
  width: 20rem;
  height: 10rem;
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 20px;
}

.hex_code {
  font-size: 2em;
  font-weight: 500;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  padding: 2em;
}

.input_container {
  display: inline-block;
  position: relative;
}

input[type=text] {
  padding: 12px 40px 12px 20px;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.clear {
  position: absolute;
  top: 9px;
  right: 15px;
  opacity: 0.6;
  cursor: pointer;
}
.clear:hover {
  opacity: 1;
}

.invalid {
  height: 24px;
  margin-top: 10px;
  color: #ff0000;
}
